 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Da Planet Mission</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Da Planet Security seeks to protect the cloud with innovative solutions for                           information security's complex challenges. Our IT security analytics solutions                        collect, contextualize, and analyze the security data you need to dramatically                        reduce threat exposure and prevent compromise in real-time across virtual,                            mobile, private and public cloud networks.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Watch Our Video
                    </a>
                </div>
            </div>
        </div>
    </section>
