    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-sm-3">
                      <h3>Around the Web</h3>
                      <ul class="list-inline">
                        {% for network in site.social %}
                        <li>
                          <a href="{{ network.url }}" class="btn-social btn-outline" rel-"me"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="footer-col col-sm-3">
                      <h3>Healthcare & <strong>HIPPA</strong></h3>
                      <h4>Protect Client Confidentiality</h4>
                      <p class="subtitle">Get on the fast track to HIPAA compliance.</p>
                      <p><a title="Healthcare Cloud Security Solutions" rel="self" href="#">More on Healthcare Security</a></p>
                    </div>
                    <div class="footer-col col-sm-3">
                      <h3>Payments & <strong>PCI</strong></h3>
                      <h4>Security and Compliance</h4>
                      <p class="subtitle">Reduce compliance risk with our PCI certified cloud.</p>
                      <p><a title="Ecommerce Cloud Security Solutions" rel="self" href="#">More on Ecommerce Security</a></p>
                    </div>
                    <div class="footer-col col-sm-3">
                      <h3>Big Data & <strong>CRISP-DM</strong></h3>
                      <h4>Mitigate Business Risk</h4>
                      <p class="subtitle">Cloud agility with no compromise on security or compliance.</p>
                      <p><a title="Cloud Security Solutions" rel="self" href="#">More on Big Data Security</a></p>
                    </div>
                     <div class="footer-col col-sm-3">
                      <h3>IoT & <strong>IoT-GSI</strong></h3>
                      <h4>Securing IoT Clouds</h4>
                      <p class="subtitle">Build trusted and reliable IoT clouds.</p>
                      <p><a title="Cloud Security Solutions" rel="self" href="#">More on Big Data Security</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                      <p class="pull-left"> Copyright &copy; 20{{ site.time | date: '%y' }} Da Planet Security</p>
                      <p class="pull-right">
                      <a href="/sitemap" title="Sitemap - Da Planet Security" name="sitemap" rel="self">Sitemap</a> | 
                      <a href="/legal/terms-of-use" title="Terms of Use - Da Planet Security" name="Terms of Use" rel="self">Terms of Use</a> | 
                      <a href="/legal/privacy-policy" title="Privacy Policy - Da Planet Security" name="Privacy Policy" rel="self">Privacy Policy</a>
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" rel="home" name="Da Planet Security Home" title="Da Planet Security Home" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
