<head>
    <meta charset="utf-8">
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% elsif site.title %}
    <title>{{ site.title }}</title>
    {% endif %}

    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% elsif site.description %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% elsif site.keywords %}
    <meta name="keywords" content"{{ site.keywords }}">
    {% endif %}
    <meta name="author" content="{{ site.author }}">

    {% if page.opengraph %}
      <meta property="og:title"       content="{{page.opengraph.title}}">
      <meta property="og:type"        content="{{page.opengraph.type}}">
      <meta property="og:url"         content="{{site.url}}{{page.url}}">
      <meta property="og:image"       content="{{site.url}}/{{page.opengraph.image}}">
      <meta property="og:description" content="{{page.opengraph.description}}">
    {% elsif site.opengraph %}
      <meta property="og:title"       content="{{site.opengraph.title}}">
      <meta property="og:type"        content="{{site.opengraph.type}}">
      <meta property="og:url"         content="{{site.url}}">
      <meta property="og:image"       content="{{site.url}}/{{site.opengraph.image}}">
      <meta property="og:description" content="{{site.opengraph.description}}">
    {% endif %}
    <meta property="og:site_name"   content="{{site.opengraph.site_name}}">
    {% if site.fb_admins %}
    <meta property="fb:admins"      content="{{site.fb_admins}}">
    {% endif %}

    <link rel="sitemap" type="application/xml" title="Sitemap" href="sitemap.xml">
    <link rel="meta" type="application/rdf+xml" title="Dublin" href="dublin.rdf">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% if site.favicon %}
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ site.favicon | prepend: site.url}}">
    <link rel="apple-touch-icon" href="{{site.touchicon}}">
    {% endif %}

    <link rel="search" type="application/opensearchdescription+xml" title="{{site.title}}" href="opensearch.xml" />

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="{{site.url}}/js/modernizr.custom.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{site.url}}/js/html5shiv.js"></script>
      <script src="{{site.url}}/js/respond.min.js"></script>
    <![endif]-->
</head>
