 <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}/#page-top">{{ site.opengraph.site_name }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right cl-effect-12">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{site.baseurl}}/#services" title="Cloud Security Services - Da Planet Security" name="Cloud Security Services">Cloud Security</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{site.baseurl}}/#about" title="About Us and Our Mission - Da Planet Security" name="About Da Planet Security">Mission</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{site.baseurl}}/#contact" title="Contact For Consolation - Da Plpnet Security" name="Contact Da Planet Security">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
